# this file runs /home/pi/pi_to_rtmp_stream/transmit_stream.sh as a service at boot time
# 
# to get it started:
# 1. permissions must be 644 for the .service file (this one)
# 2. sudo systemctl daemon-reload
# 3. sudo systemctl enable /home/pi/pi_to_rtmp_stream/transmit_stream.service
# 
# Usage:
# sudo systemctl start | status | stop | restart transmit_stream
# OR
# sudo service transmit_stream start | status | stop | restart

[Unit]
Description=transmit_stream controller service
After=local-fs.target basic.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/nohup /home/pi/pi_to_rtmp_stream/transmit_stream.sh 2>&1 &

[Install]
WantedBy=basic.target