# this file runs /home/pi/pi_to_youtube_stream/pi_to_youtube.sh as a service at boot time
# 
# to get it started:
# 1. permissions must be 644 for the .service file (this one)
# 2. sudo systemctl daemon-reload
# 3. sudo systemctl enable /home/pi/pi_to_youtube_stream/youtube_stream.service
# 
# Usage:
# sudo systemctl start | status | stop | restart youtube_stream
# OR
# sudo service youtube_stream start | status | stop | restart

[Unit]
Description=youtube_stream listener and controller service
After=local-fs.target basic.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/nohup /home/pi/pi_to_youtube_stream/pi_to_youtube.sh 2>&1 &

[Install]
WantedBy=basic.target